<td class="@((isFocusedCell ? "focused table-cell" : "table-cell"))"
    @onmousedown="handleMouseDown"
    @onclick:stopPropagation="true"
    oncontextmenu="return false;">

    @switch (type)
    {
        case "checkbox":
            <input type="checkbox" checked="@value" />
            break;
        case "number":
            <input type="number" value="@value" />
            break;
        case "date":
            <input type="date" value="@value" />
            break;
        case "text":
            <input type="text" value="@value">
            break;
        default:
            break;
    }

    @if (isModalOpen)
    {
        <section class="cell-modal" style="top: @topPos; left: @leftPos">
            <span @onclick='() => handleClick("add", rowIdx)'>
                Add record above
            </span>
            <span @onclick='() => handleClick("add", rowIdx + 1)'>
                Add record below
            </span>
        </section>

    }
</td>


@code {
    string topPos = "0px";
    string leftPos = "0px";

    dynamic value;

    [Parameter] public Action<int, int, int> HandleTableClick { get; set; }
    [Parameter] public Action<int> addNewRow { get; set; }

    [Parameter] public object innerText { get; set; }
    [Parameter] public int rowIdx { get; set; }
    [Parameter] public int columnIdx { get; set; }
    [Parameter] public bool isModalOpen { get; set; }
    [Parameter] public bool isFocusedCell { get; set; }
    [Parameter] public string type { get; set; }


    public void handleMouseDown(MouseEventArgs e)
    {
        if (e.Button == 2)
        {
            topPos = $"{e.OffsetY}px";
            leftPos = $"{e.OffsetX}px";
            HandleTableClick.Invoke(2, rowIdx, columnIdx);
        }
        else if (e.Button == 0)
        {
            HandleTableClick.Invoke(0, rowIdx, columnIdx);
        }

    }

    public void handleClick(string type, int idx)
    {
        addNewRow.Invoke(idx);
    }

    protected override void OnParametersSet()
    {
        convertTo();
    }

    public void convertTo()
    {
        switch (type)
        {
            case "checkbox":
                value = bool.Parse(innerText.ToString());
                break;
            case "number":
                value = int.Parse(innerText.ToString());
                break;
            case "date":
                value = new DateTime(1970, 1, 1).AddSeconds(double.Parse(innerText.ToString())).ToString("yyyy-MM-dd");
                Console.WriteLine(value);
                break;
            case "text":
                value = innerText.ToString();
                break;
        }
    }
}
